// Variables
$main-color: #FF7766;
$custom-color: #EEE;
$icon-color: #d825df;
$card-text-color: #a9a9a9;
$turkey-main-color: #E40613;
$turkey-second-color: #f75454;
$egypt-main-color: #025E9B;
$egypt-second-color: #CE1126;
