// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
// Import Components
@import '_variables';
@import '_global';
@import '_turkey';

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Cairo', sans-serif;
}
/* Navbar Style */
nav.navbar {
    z-index: 20;
    .navbar-brand{
        img{
            width: 10%;
        }
    }
    .navbar-toggler {
        border: 0;
        color: #16aeca !important;
        &:focus{
            box-shadow: 0;
            border: 0;
        }
    }
    .navbar-nav{
        a.nav-link{
            font-size: 16px;
            color: #202020 !important;
            padding: 0px 16px ;
            line-height: 40px;
            transition: all 0.5s ease;
            
        }
        .nav-item{
            a.nav-link{
                &:focus,
                &.active{
                    background-color: #ffffff !important;
                    color: #16aeca !important;
                }
            }
        }
    }
    &.notransparent{
        background-color: #cd28ff99;
        border: 1px solid rgb(207, 207, 207);
        .nav-item{
            a.nav-link{
                &:hover,
                &.active{
                    background-color: #16aeca !important;
                    color: #ffffff !important;
                }

            }
        }
    }
}

/* End Navbar Style */

/* Header Style */
header.header-main {
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
    .overlay {
        background: linear-gradient(to right, rgba(155, 59, 179, 0.8), rgba(249, 227, 255, 0.8));
        min-height: 100vh;
        .carousel .carousel-item {
            position: relative;
            min-height: 100vh;
            .carousel-content {
                position: absolute;
                top: 40%;
                left: 15%;
                right: 15%;
                line-height: 40%;
                text-align: center;
                z-index: 15;
                h2 {
                    color: #ffffff;
                    font-size: 40px;
                    padding-bottom: 55px;
                }
                a {
                    text-decoration: none;
                    color: #ffffff;
                    background-color: #16aeca;
                    font-size: 18px;
                    border-radius: 30px;
                    padding: 5px 45px;
                    transition: all 0.5s ease;
                    &:hover {
                        background-color: #dae413;
                        color: #16aeca;
                    }
                }
            }
            
        }
    }
    
}

/* End Header Style */
/* Services Style */
section.services {
    padding: 60px 0 20px 0;
    min-height: 100vh;
    .card {
        height: 250px;
        padding: 50px;
        margin-bottom: 20px;
        
        .card-img {
            padding: 15px 0;
        }
        .card-block p {
            font-size: 15px;
            line-height: 21px;
            color: #919191;
            padding: 15px 0;
            opacity: 0;
        }
        &:hover {
            .card-block p {
                opacity: 1;
            }
        }
    }
}

/* End Services Style */

/* Tours Style*/
section.tours{
    background-color: #efeff0;
    min-height: 100vh;

    .tours{
        padding: 60px 0 20px 0;
    }
    hr{
        border: 1px solid #d1d1d1;
        max-width: 100%;
        margin: 10px;
    }
    .btn{
        margin: 10px;
    }
}

/* End Tours Style*/
/* Contacts Style */ 
section.contacts{
    height: 100vh;

}

/* End Contacts Style */ 

/* Footer style*/
// footer.footer{

// }
/* End Footer style*/