@import '_variables';
@import '_global';
@import './tours.scss';
@import './accounts.scss';


// Fonts Define
@font-face{
    font-family: 'cairo-Fonts';
    src: url('../fonts/Cairo-Regular.ttf');
}

// End Fonts Define

// Body Style
body {
    font-family: 'cairo-Fonts', Arial, Helvetica, sans-serif;
}


// End Body
.section-title{
    padding-top: 50px;
    padding-bottom: 25px;
    h3{
        font-weight: bold;
        color: $main-color;
    }
}
// Style Page: index.html 
// Section: Top Menu
.top-menu{
    .navbar{
        font-weight: bold;
        padding: 0 100px !important;
        background-color: #FFF !important;
        .navbar-nav{
            li > a{
                transition-property: background-color;
                transition-duration: .5s;
                
                &:hover{
                    color: $main-color !important;
                    background-color: $custom-color;
                    border-bottom: 1px solid $main-color;
                }
            }
            .active a {
                color: $main-color;
                border-bottom: 1px solid $main-color;
            }
        }
        .accounts{

            .btn-link{
                text-decoration: none;
                direction: ltr;
            }
        }
    }
}
// End Top Menu
// Banner
.banner-main{
    background-image: url('../images/banner-6.jpg');
    background-position: center;
    background-size: cover;
    .overlay{
        background: rgba(24, 24, 24, 0.726);
        height: 100vh;
        .carousel .carousel-item {
            position: relative;
            min-height: 100vh;
            .carousel-content {
                position: absolute;
                top: 40%;
                left: 15%;
                right: 15%;
                line-height: 40%;
                text-align: center;
                z-index: 15;
                h2 {
                    color: #ffffff;
                    font-size: 40px;
                    padding-bottom: 55px;
                }
                a {
                    text-decoration: none;
                    color: #ffffff;
                    background-color: $main-color;
                    font-size: 18px;
                    border-radius: 30px;
                    padding: 5px 45px;
                    transition: all 0.5s ease;
                    &:hover {
                        background-color: $main-color;
                        color: #FFF;
                    }
                }
            }
        }
    }
}
// End banner
// services
.services{
    height: 110vh;
    padding-bottom: 10px;
    
    .card{
        display: flex;
        max-width: 500px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 0;
        .card-icon{
            margin: 10px;
            color: #000;
            
            &:hover{
                color: $main-color;   
            }
        }
        .card-body{
            text-align: center;
            h5{
                font-size: 30px;
                font-weight: bold;
                line-height: 1.6;
            }
            p{
                color: rgb(189, 189, 189);
                font-size: 20px;
            }
            
        }
    }
}
// End Services
// Tours
.tours{
    height: 130vh;
    background-color: #f1f1f1;
    .card{
        padding: 5px 0 5px 0;
        img{

            padding: 5px;
        }
        h1{
            font-weight: bold;
            font-size: 30px;
            padding: 10px 0 10px 0;
        }
        .price{
            font-size: 25px;
            padding: 10px 0 10px 0;
            color: $main-color;
        }
        .custom-btn{
            margin: 0 50px 10px 50px;
        }
    }
}
// End Tours
// Call US
.callus{
    h4:hover{
        color: $main-color;
    }
}
// End Call US

// Footer
footer{
    height: 80px;
    background-color: #000;
    padding: 22px 0;
    margin-bottom: 0;
    h5{
        color: $main-color;
        span{
            color: $custom-color;
            &:hover{
                color: $main-color;
            }
        }
    }
}
// End Footer


@media(max-width:1120px){
    .banner-main .overlay .carousel .carousel-item .carousel-content h2{
        font-size: 30px;
    }
    .services .card .card-body p{
        display: none;
    }
    .tours .card h1{
        font-size: 20px;
    }
}
@media (max-width: 991px) {
    // Style Page: index.html
    .top-menu{
        .navbar{
            padding: 0px 20px !important;

            .navbar-nav{
                a{
                    border-bottom: none !important;
                    padding-right: 5px;
                }
            }
        }
    }

    // End Style : index.html
}
@media(min-width: 767px){
    
    .carrousel-top{
        .carousel{
            .carousel-caption{
                margin: 10px 20px;
                h1{
                    font-size: 20px;
                }
                h4{
                    font-size: 10px;
                }
            }
        }

    }
  
    .services .card .card-icon{
        margin: 0;
        padding: 0;
    }
    .services .card .card-icon .fa-5x{
        font-size: 50px;
    }
    .services .card .card-body h5{
        font-size: 20px;
    }
}
