// @mixin colors-page($overlay-color,$title-color,$header-color,$point-color)
.turkey-tours{
    @include colors-page(rgba(209, 77, 54, 0.623),#ffffff,$turkey-main-color,$turkey-second-color);
}


.egypt-tours{
    @include colors-page(rgba(54, 57, 209, 0.425),#ffffff,$egypt-second-color,$egypt-main-color);    
}

.gallery{
    #image-gallery {
        .modal-footer{
            display: block;
        }
    }
    .thumb{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
}
.img-thumbnail{
    height: 100% !important;
}